[2017-08-24 12:07] raphamorim opened #1 "How to install application on LG TV?"
[code]

https://www.lgwebos.com/topic/1517-how-to-install-application-on-lg-tv/

[2017-08-24 12:08] #1 closed, assigned to nobody

[2017-08-27 19:37] raphamorim opened #2 "generator for webos"
- [ ] CLI
- [ ] Template

Create react-TV project `hoist` based

`$ react-tv init <app-name>`

[code]

`$ react-tv run-webos`

Pack, Install and Launch

`ares-package`> `ares-install` > `ares-launch`

[2017-09-02 05:32] #2 closed, assigned to nobody

[2017-09-06 04:46] raphamorim opened #3 "react-tv logo"
https://pixabay.com/p-2268952/?no_redirect License: CC0

[2017-10-07 13:53] #3 closed

[2017-10-08 16:01] raphamorim opened #4 "solve react bundling for app template"

[2017-10-08 21:01] raphamorim opened #6 "add a single example app using REACT-TV for build"

[2017-10-08 21:02] raphamorim opened #7 "add a single example app using REACT-TV renderer"

[2017-10-08 21:08] raphamorim opened #8 "add benchmark results between React, React-TV renderers memory usage"

[2017-10-10 16:25] raphamorim opened #10 "update to React16.0.0"
Ref: https://github.com/facebook/react/issues/9103

[2017-10-13 15:24] raphamorim commented on #10
The Reconciler API for the current targeted revision is available at:
https://github.com/facebook/react/blob/ca4325e3eff16b86879188eb996ebcc9a933336a/src/renderers/shared/fiber/ReactFiberReconciler.js#L48-L104

 A renderer is the public interface to a React reconciler. With Fiber you
create a reconciler by calling `ReactFiberReconciler` with a `HostConfig`
object.

 All types for creating a react

[2017-10-13 23:55] raphamorim opened #12 "simple DOM renderer"
- [x] render reactElement children
- [x] deliver a simple DOM
- [x] platform
- [x] pass TV keyhandlers to reactElement

[2017-10-14 02:06] raphamorim commented on #12
Ref: #11

[2017-10-14 03:25] raphamorim opened #15 "watch flag for `run-webos`"
Generate IPK and connect with device/emulator for every file change

[2017-10-14 03:33] raphamorim opened #16 "integration tests for CLI"

[2017-10-15 18:29] raphamorim opened #17 "prettier support for comma on end"

[2017-10-15 18:30] raphamorim opened #18 "support node >=0.10.0"
Currently React works with `>=0.10.0`, I think make sense to follow it as long `React-TV` live within the react universe

[2017-10-15 18:31] raphamorim opened #19 "react-tv webos-device-log"
Should display log from RemoteControl.

[2017-10-18 00:29] raphamorim commented on #10
https://github.com/facebook/react/tree/master/packages/react-reconciler

[2017-10-18 01:01] raphamorim commented on #12
https://github.com/facebook/react/blob/master/src/renderers/dom/fiber/ReactDOMFiberEntry.js

[2017-10-18 01:19] raphamorim commented on #12
https://github.com/facebook/react/blob/master/src/renderers/dom/fiber/ReactDOMFiberComponent.js

[2017-10-22 01:42] #17 closed

[2017-10-23 00:42] raphamorim commented on #12
Updated: https://github.com/facebook/react/blob/10320a5331d64fe83283d05c64c517402fce3512/src/renderers/dom/fiber/ReactDOMFiberEntry.js

https://github.com/facebook/react/blob/10320a5331d64fe83283d05c64c517402fce3512/src/renderers/dom/fiber/ReactDOMFiberComponent.js

[2017-10-31 15:25] raphamorim opened #22 "test architecture based on Jest"
Ref: #21

[2017-10-31 16:15] raphamorim opened #23 "Make tv generator-template works"
- It would be use webpack for bundle

[2017-10-31 19:15] aitherios opened #24 "Support canvas based components"
What do you think of something on the lines of:
[code]

Or:

[code]

[2017-11-01 03:26] raphamorim opened #28 "Support HOF (React.Element)"
Current Renderer support (0.2.0)

[code]

Next Renderer support:

[code]

[2017-11-01 03:26] raphamorim commented on #24
Nice suggestion @aitherios 👍

[2017-11-01 03:27] raphamorim opened #29 "A follow step for create a simple WebOS App using ReactTV"

[2017-11-03 04:04] raphamorim opened #30 "Fix Flow task"
Currently Flow task is skipped on CI, however we need to fix it.
Just remove `<PROJECT_ROOT>/src/.*` from `.flowconfig` to see all errors.

[2017-11-03 05:16] raphamorim opened #31 "build for commonjs (nodejs environment)"
`package.json` should point for a valid ESmodule. Current points to `src/ReactTVEntry`, probably doesn't work without transpilers.

[code]

Build for nodejs

[2017-11-03 05:16] raphamorim opened #32 "build for DEV, PROD and Server"
Ref #31

[2017-11-03 05:44] #32 closed

[2017-11-03 05:44] #31 closed

[2017-11-03 05:49] raphamorim commented on #22
Closed by #21

[2017-11-03 05:49] #22 closed

[2017-11-03 13:28] raphamorim commented on #10
https://www.npmjs.com/package/react-reconciler

[2017-11-03 13:28] raphamorim commented on #10
https://github.com/facebook/react/blob/master/packages/react-reconciler/package.json

[2017-11-03 16:55] raphamorim commented on #7
Closed by 26b9b2df4b87ef32bb59c6930bf6351728231ce2

[2017-11-03 16:55] #7 closed

[2017-11-03 19:35] raphamorim opened #34 "Improvements on Renderer"
Some works to do on Renderer:

- [ ] Implements `React-ID` to help diffCalc
- [ ] Do not appendChild if next Children is `string`
- [ ] Support DevTools ( #36 )
- [ ] Do propagating of WebOS keyboard for ReactElements ( rel: #40 )
- [ ] AppStart Event ( Still To Discuss)
  - draft1:`<MyApp onAppLoaded={() => true}/>`
  - draft2:`<TVContainer/>` which render children only when WebOS, Tizen dispatch

[2017-11-04 22:45] raphamorim commented on #28
Closed by 20a423a69e5cdc8c41f5f0a8df6db2b4476cd06c

[2017-11-04 22:45] #28 closed

[2017-11-04 22:53] raphamorim opened #35 "Write tests for DOMUpdateProperties"

[2017-11-05 13:55] raphamorim commented on #10
Closed by 72b38287886a72967e8578b886f510044cbbb1c5

[2017-11-05 13:55] #10 closed

[2017-11-06 08:21] bhagyas opened #37 "Add support for Apple TV (tvMLJS)"
This is a high-level issue to track support for Apple TV.

As outlined in https://developer.apple.com/documentation/tvmljs

[2017-11-07 11:09] EloB opened #40 "Any plans on focus system?"
Hello, nice to see some open source projects in this area. Working right now with React and smart tv:s and built to multiple smart tv platforms and consoles (playstation). If I have time over I can see if I can contribute. One thing that I always thinks of is the focus system. Web is really good at mouse interaction but keyboard navigation is lacking. Is that something you are planning to look int

[2017-11-07 18:31] joshuairl opened #41 "The guys at BBC have done significant work in configuring for diff platforms..."
Hey hey,

LOVE what you're doing here.  Exciting to see work being done in the TV space considering it's so incredibly fragmented.

Wanted to share this, I'm sure you've seen it... but didn't know if you considered using anything from it relating to the vast configuration requirements of the different platforms.

I'm not sure if "build" tools are as important as just flat out having a web app that

[2017-11-08 03:28] raphamorim commented on #37
I think it's an idea, worth to track. But for now the idea of ReactTVRenderer is know only (for now) web [DOM and Canvas] to run on browser-based TV.

Also, good to track: https://github.com/emadalam/atvjs
I think it's a discussion for next releases.

[2017-11-08 03:33] raphamorim commented on #40
Nice @EloB
I'm planning two draft proposals for keyboard navigation:
1. Using a Navigator component ( `import reactTV, { Navigator } from 'react-tv';`
2. Compose all components with handlers for keyboard navigation when asked.

Anything that you want to help on ReactTV or talk about the future release. I'm available for talk :octocat:

[2017-11-08 03:40] raphamorim commented on #41
Thanks for sharing it @joshuairl, I didn't know this project!

The idea of Build tools of React-TV is only to unify/simplify workspace than any other feature.
So yeah, I'm agree with you about it, but is that the reason about Renderer and Builder are distributed packages.

[2017-11-08 03:40] #41 closed

[2017-11-08 12:22] EloB commented on #40
Nice :)

I just discovered this by Dan Abramov shared this on twitter. My current customer uses smart tv:s. So built some apps so I know the struggle of building performant apps in this area.

When I have time I will look into the codebase and see if I can contribute with something. A tip for Orsay is to add `weinre`. I don't know if there is any debugger for Orsay but I used that with good result

[2017-11-08 13:25] raphamorim commented on #40
Sure, I'll be happy to help.

I didn't know. Thanks for sharing it.

About babel and Reactive framework, I'm studying more other options and possibilites, even hacks hehe. :octocat:

[2017-11-10 03:59] raphamorim commented on #12
Ref: #42

[2017-11-10 12:28] raphamorim opened #43 "Distribute Packages"
In a future step, we should distribute every domain package and publish them.

[code]

[2017-11-10 12:42] DChinin commented on #43
@raphamorim what you think about separate packages for platforms and navigation?

[2017-11-10 12:56] DChinin commented on #40
@EloB you can install legacy Samsung SDK and debug Orsay app with chrome dev tools on emulator.
Emulator has many differences with real TV and some weird bugs, but it more useful than weinre.

@raphamorim i have several good examples on implementing dpad focus system for react.

[2017-11-10 12:57] raphamorim commented on #43
Hm.
I don't have sure about it right now, just because we need to run in multiples platform. Right now I'm only testing it on WebOS, when I start with Orsay, Tizen, PS4.

Then in the near future we will be able to answer that question.

I already think a premature optimization, think on distributed packages based on present unstable renderer hehe

[2017-11-10 12:59] raphamorim commented on #40
Please share with me this examples, I just started work on it :D

[2017-11-10 14:29] EloB commented on #40
@DChinin Thanks for the info. We are currently not using emulators. They feel far from the end result. We are working realtime on the hardware and shares keystrokes from your desktop keyboard to the tv:s.
I will definitely but that on my mind when I can't figure out some bugs :)

[2017-11-12 23:52] raphamorim commented on #29
Ref: #42

[2017-11-13 15:46] raphamorim opened #45 "Consider use of ClosureBuilder, Prepack"
https://developers.google.com/closure/library/docs/closurebuilder
https://github.com/facebook/prepack

[2017-11-14 10:05] dead commented on #40
I recently developed a test app to a samsung tizen tv and created a wrapper around the [js-spatial-navigation](https://github.com/luke-chang/js-spatial-navigation) to work as [react components](https://github.com/dead/react-js-spatial-navigation). It was my very first contact with both tv and react so it is pretty simple, but works 😄.
I found the spatial navigation a neat solution to the navigatio

[2017-11-14 14:30] EloB commented on #40
@dead We have done the same but we discovered a bad thing that browsers scroll focused elements into view even in `overflow: hidden` containers. There isn't any good way to prevent that scroll into view action.

[2017-11-14 15:45] idmitriev commented on #40
@EloB yeah, we had to cancel out this scrolling by setting scroll{Top,Left} to 0 for all parents of focused element, but that breaks performance.

I think the right way to do focus managements is not using dom apis, since the (custom)renderer knows all the elements that are focusable at the moment, it can hold focus state.

[2017-11-14 16:05] ignaciolg commented on #40
What about a navigation based on a component hierarchy like the one on BBC-TAL?
With some base components (i,e: vertical and horizontal layouts, grid layout and focusable items) you can compose whatever you need.
I believe that is more deterministic than the js-spatial navigation (based on trigonometric calculation, if remember ) and will have a better performance.
In the other hand I have a littl

[2017-11-14 16:59] EloB commented on #40
@idmitriev We do the same with the `scrollTop`/`scrollLeft` but they are known props that triggers reflows as you said... :( https://gist.github.com/paulirish/5d52fb081b3570c81e3a

[2017-11-14 17:00] dead commented on #40
@EloB
You can prevent this by simple disabling the `elem.focus()` in the js-spatial-navigation (browser focus).
But now If you want a scrollable list or something like that you will need to implement a ´ScrollableItemList` component in react that handle the scrolling.

[2017-11-14 17:36] EloB commented on #40
@dead Probably modern browsers might have implemented like that but it's a non standard. What I seen on the actual devices (Tizen/Orsay/Ps4) have been problematic.

https://developer.mozilla.org/en-US/docs/Web/Events/focus

`focus` event is not cancelable.

[2017-11-14 17:38] EloB commented on #40
@dead Or did I get you wrong? Is it possible to disable the `element.focus()` but still have all the other action working?

[2017-11-14 17:41] EloB commented on #40
A bad thing with `js-spatial-navigation` is the keyCodes are hard coded. Made a PR for that https://github.com/luke-chang/js-spatial-navigation/pull/20 but that repo seems dead. It's not part of NPM either...

[2017-11-14 18:13] dead commented on #40
It is possible to disable the `elem.focus()` and it should still work (the sn: events will be fired).

[2017-11-14 18:25] idmitriev commented on #40
Had a quick look at js-spatial-navigation source, seems like there is a CustomEvent triggered on element focus\blur.
But this won't work with react's synthetic event system because does not support dispatching CustomEvents.

[2017-11-15 18:53] zhulduz opened #46 "Unnecessary .DS_Store files"
Hi,
example app has files `.DS_Store`.
After creating with command `react-tv init <app-name>` .

[2017-11-16 02:57] raphamorim commented on #46
hi @zhulduz, thanks for reporting it.
`react-tv init` has been rewritten for the next react-tv version. You should not have that problem any more.

You can track the release status on this PR: https://github.com/raphamorim/react-tv/pull/42

[2017-11-16 02:59] raphamorim commented on #46
I'll close this issue after merge #42 PR :octocat:

[2017-11-16 03:02] #16 closed

[2017-11-16 14:44] raphamorim opened #48 "virtualize WebOS environment"
cc @gpantuza

We are required to have the SDK running which connects to an independent virtualbox. The idea of ReactTVCLI is not to depend on VirtualBox. It would be awesome to run apps/tests with docker.

[2017-11-16 14:56] EloB opened #49 "Heads up for canvas"
Shaders in Tizen leaks memory and after awhile renders wrong.

Maybe not an issue but if you planning to implement something similar to Pixi.js canvas solution that uses webgl and then fallbacks to standard canvas. Then it could be good to know!

[2017-11-16 15:01] raphamorim commented on #49
Sure! I'm planning to working on it.
For now I'm working only on finish webos build process and keymap/focus on renderer.

If you want to try have this issue here: #24
Any news I'll update there.

[2017-11-16 15:05] raphamorim opened #50 "Roadmap: 0.3.0"
- [ ] Device keys
- [ ] Focus logic(?)
- [ ] Propagate handler for keyboard on React.Elements.
- [ ] Think about `AppIsReady` for TVS. It's about done/loaded events which WebOS and Tizen dispatch, start mapping it in a HOC?
- [ ] add tests using Class based on `React.Component`
- [ ] finish basic CLI features for WebOS
  - [ ] `react-tv webos-log`
  - [ ] `react-tv init <app-name>`
 - [ ] document

[2017-11-17 00:54] raphamorim opened #52 "Update webpack from Example and CLI custom-app to ^3.4.1"
Currently:

[code]

cc// @lucasktrindade

[2017-11-17 01:09] raphamorim opened #53 "add Appveyor for support Windows"

[2017-11-17 02:08] raphamorim commented on #46
I published `react-tv@0.3.0-alpha.2` today:
The `react-tv init` has changed:

[code]

Should solve it, if not just comment here and I'll reopen this issue :octocat: :)

[2017-11-17 02:08] #46 closed

[2017-11-17 02:16] #23 closed

[2017-11-17 02:16] #6 closed

[2017-11-17 02:16] raphamorim commented on #15
This will be replaced by `deploy-webos <device>`

[2017-11-17 02:16] #15 closed

[2017-11-17 18:36] raphamorim commented on #48
cc @aitherios

[2017-11-17 22:11] raphamorim commented on #48
https://github.com/ConSol/docker-headless-vnc-container

[2017-11-18 04:19] raphamorim commented on #52
ref: #55

[2017-11-18 17:20] raphamorim opened #56 "write tests for run-webos"

[2017-11-18 19:36] #52 closed

[2017-11-18 21:49] raphamorim opened #59 "create a real world example based on Netflix program list"
benefits

- Evolute NavigationTree
- Measure React-DOM vs React-TV in a real world scenario.

[2017-11-19 05:50] raphamorim opened #60 "disable syncScheduling (async renderer)"

[2017-11-19 09:51] dead commented on #40
More navigation stuff 😄
https://github.com/dead/react-key-navigation
It is similar to the BBC TAL. Use the hierarchy to navigate.

[2017-11-19 23:07] raphamorim opened #63 "draft: navigation interface"
Working in Progress in #58 #40

[code]

References:
- https://github.com/dead/react-key-navigation
- https://github.com/luke-chang/js-spatial-navigation
- https://github.com/bbc/tal

[2017-11-20 00:50] raphamorim commented on #63
cc// @dead

[2017-11-20 03:07] dead commented on #63
Looks good to me 😄
Any particular reason to use `<div class="list">` instead of something like `<div nav-list>` ?

There are also other things that I was thinking:
- When moving to another item using i.e. ◀️ and then pressing ▶️ it should back to the same element it was before. (there are some cases where this would not happen)
- Lists where an item is "active" and should be focused when entering.

[2017-11-20 09:56] EloB commented on #40
Some good info:
https://medium.com/netflix-techblog/pass-the-remote-user-input-on-tv-devices-923f6920c9a8
https://developer.mozilla.org/en-US/docs/Mozilla/Firefox_OS_for_TV/TV_remote_control_navigation

[2017-11-20 20:18] raphamorim commented on #63
Nopes, the only thing that matter for the renderer is `focusable` prop.

This is the idea :octocat: 👍

For this draft, I'll go on based on props setted by state. But this is a discuss for later.

[2017-11-20 20:19] raphamorim commented on #40
@EloB I'm made a draft of a first navigation interface. Can you give some review?
Issue Here -> https://github.com/raphamorim/react-tv/issues/63

[2017-11-20 20:34] raphamorim commented on #63
change: `active` -> `focused`
ref: https://medium.com/netflix-techblog/pass-the-remote-user-input-on-tv-devices-923f6920c9a8

[2017-11-21 04:35] #53 closed

[2017-11-21 10:01] dead commented on #59
An example app using react-tv and react-key-navigation: [youtube-react-tv](https://github.com/dead/react-key-navigation/tree/master/examples/youtube-react-tv)

[2017-11-21 11:33] EloB commented on #63
Nice :)

What will happend if the current focused item unmounts?

[2017-11-21 20:35] xorion2 opened #64 "WebOS1 and WebOS2 - Map constructor does not accept arguments error"
If you get error at Webos1 or Webos2 **Map constructor does not accept arguments** and for the solution;

  **npm install --save babel-polyfill**

and then you can edit it as follows;

[code]

[](https://babeljs.io/docs/usage/polyfill/)

[2017-11-22 01:46] raphamorim commented on #64
Amazing @xorion2
Thanks for document it! :octocat: <3

[2017-11-22 01:46] #64 closed

[2017-11-22 02:18] raphamorim commented on #63
Probably will focus on last focused element, if even the last focused element not exists anymore focus the first one.

For first version yes @EloB

[2017-11-22 03:28] Lucasktrindade opened #65 "Run WebOS Examples"
Installed react-tv globally.
Create proj with init command but when i try to run as it said in documentation.
Doesn't run as expected, all dependencies are installed.

![image](https://user-images.githubusercontent.com/13908465/33108629-6742c0e0-cf24-11e7-9319-e7755f919a27.png)

[2017-11-22 03:30] raphamorim commented on #65
what's the output of `react-tv version`?

[2017-11-22 03:31] raphamorim commented on #65
can you show the output of `cat package.json && ls -al` ?

[2017-11-22 03:34] Lucasktrindade commented on #65
![image](https://user-images.githubusercontent.com/13908465/33108801-3d6ea422-cf25-11e7-9b01-30d1bdca3915.png)

[2017-11-22 03:36] dead commented on #65
Just run `react-tv init` as said in the error and try again 😄
But I guess react-tv should already initialize it when you create a project.

Just tested here and when using `react-tv init myApp` it doesn't initialize it (create the react-tv folder)

[2017-11-22 03:36] raphamorim commented on #65
try it:
`yarn global add react-tv@0.3.0-beta.0` stable version.

an then run `react-tv init` again.

[2017-11-22 03:38] raphamorim commented on #65
hehehe yup @dead!

This is bug solved on `0.3.0-beta.0`

[2017-11-22 03:56] Lucasktrindade commented on #65
I have to run ```react-tv init ``` inside proj that was generated with ```react-tv  init <my-app> ```

[2017-11-22 03:58] raphamorim commented on #65
not now. (if you used `0.3.0-beta.0`)

[2017-11-22 03:59] raphamorim commented on #65
you're using `0.3.0-beta.0` just run `run-webos`

[2017-11-22 23:11] #65 closed

[2017-11-23 01:40] raphamorim commented on #63
I ended up making a decision to reuse the Spatial Navigation code.
But I need to readjust the algorithm for the life cycle of a React renderer.

Preview: https://twitter.com/raphamundi/status/933510056678707200

[2017-11-23 12:13] jeroentradecast opened #66 "Tips, issues, ideas, possible future platforms."
Hi raphamorim,

I'm building/have build multiple Smart TV apps with React and TVOS with react-native for a while now. I didn't want to comment in every issue, but I have a couple of things to share which could be helpful. I love you're trying to unify building react apps for Smart tvs.

#### Samsung Toast
Have you looked at [Samsung Toast](http://developer.samsung.com/tv/develop/extension-librarie

[2017-11-23 12:40] raphamorim commented on #66
I love it.
Thanks for sharing it with me.

I think that's the future.

Seems promising.

Make sense to support it in next react-tv versions.

definitely I'll make some experiments <3

Whoa, seems promising. Let's wait to see.

Yup, I agree with you. [Spatial Navigation in draft on React-TV](https://github.com/raphamorim/react-tv/pull/58)

[2017-11-23 12:40] raphamorim commented on #66
I saved your ideas in a note @jeroentradecast. Thank you for sharing it.

[2017-11-23 22:29] raphamorim opened #67 "run-webos breaks for Linux"

[2017-11-23 22:32] raphamorim opened #68 "Consider use of Samsung/Toast for Builds"
idea from #66

[2017-11-23 22:59] raphamorim opened #69 "React-TV entry in package.json doesn't support directory"

[2017-11-24 06:08] dead commented on #68
I don't think we need Toast for build stuff. It's pretty easy to build packages to Tizen/Orsay/WebOS.
The good thing about Toast is their universal API.
But using stuff like the react-native [platform specific extensions](https://facebook.github.io/react-native/docs/platform-specific-code.html#platform-specific-extensions) make it really easy to implement platform independent components.
Using Toa

[2017-11-24 10:13] hizo commented on #66
@jeroentradecast @raphamorim another remote debugger tool to look at we use is http://www.vorlonjs.io

[2017-11-24 14:06] raphamorim commented on #68
This argument make sense to me.
I'm closing it until another counter argument.

[2017-11-24 14:06] #68 closed

[2017-11-27 09:20] jeroentradecast commented on #66
@hizo Thanks! I'll definitely check it out.

[2017-11-29 02:26] #40 closed

[2017-12-02 01:43] raphamorim opened #71 "Transform spatial navigation in passive events"
Today all created events are blocking.

[2017-12-02 01:49] #71 closed

[2017-12-02 05:23] raphamorim commented on #43
consider use of Yarn Workspaces.

[2017-12-04 23:54] thiagommedeiros opened #74 "Failed to up virtualbox emulator"
Hi @raphamorim,

I'm trying to start the LG WebOS Emulator 3.0.0 on Ubuntu 16.04 but I'm getting this error:

![screenshot from 2017-12-04 21-44-39](https://user-images.githubusercontent.com/19213244/33582499-a73412b8-d93c-11e7-9c86-36a7ae150254.png)

I've already followed the instructions in the react-tv docs to configure the WebOS Environment and the Emulator works fine when I run through the de

[2017-12-05 00:03] raphamorim commented on #74
Currently WebOS env fails on Linux https://github.com/raphamorim/react-tv/issues/67 😢
I'm solving it for the next release.

[2017-12-05 00:06] raphamorim commented on #74
Just for curiosity: Can you give the absolute path of `LG_webOS_TV_Emulator_RCU`?
It's in your `$webOS_TV_SDK_ENV/../../Emulator`

[2017-12-05 00:34] thiagommedeiros commented on #74
All right!

I think that's it: `/usr/local/share/webOS_TV_SDK/Emulator/v3.0.0/`.

![screenshot from 2017-12-04 22-32-35](https://user-images.githubusercontent.com/19213244/33583766-13641216-d943-11e7-9f8f-57abacd23439.png)

[2017-12-05 00:51] raphamorim commented on #74
yup, `.app` is for MacOS/OSX only.
I'm trying to know if `LG_webOS_TV_Emulator_linux_x64.jar` is your executable.

[2017-12-05 00:57] thiagommedeiros commented on #74
Yes! It's executable.

I run `java -jar LG_webOS_TV_Emulator_linux_x64.jar -remocon` and the emulator was opened.

[2017-12-05 01:00] raphamorim commented on #74
Amazing, give me some minutes and I'll add a fix for it in a release.

[2017-12-05 01:47] raphamorim opened #75 "HOC: renderComponentOnAppLoaded"
Develop HOC `renderComponentOnAppLoaded`
First version of this HOC, just need to listen `webOSLaunch` or `visibilityChange` to render when Platform is `WebOS`

Ref: http://webostv.developer.lge.com/develop/app-developer-guide/web-app-lifecycle/

cc// @celiolatorraca

[2017-12-05 01:53] raphamorim commented on #74
@thiagommedeiros can you retry with `react-tv@0.3.0-beta.2`?

[2017-12-05 01:54] raphamorim commented on #74
I just published it. No sure if it gonna work.

[2017-12-05 02:59] thiagommedeiros commented on #74
Did not work.

But, instead of `execSync` I changed to `exec` method and it worked and the app runs. This only works when I open WebOS Emulator before execute the `run-webos` command. I think `execSync` don't work because the executable is blocking the command-line.

[2017-12-05 03:00] raphamorim commented on #74
Make sense.
Can you send a PR with these changes?

[2017-12-05 03:01] thiagommedeiros commented on #74
Sure! I got it!

[2017-12-05 03:02] raphamorim commented on #74
Question: using only `exec` works without Emulator opened?

[2017-12-05 03:05] thiagommedeiros commented on #74
No, it just opens the remote control. The VirtualBox don't open.

[2017-12-05 03:06] raphamorim commented on #74
hmm.. can print the `cat LG_webOS_TV.sh` result?

btw: In a future step we can use fork for child_process(?)

[2017-12-05 03:07] raphamorim commented on #74
I guess this scripts can both (virtualbox and jar).

[2017-12-05 03:13] thiagommedeiros commented on #74
`LG_webOS_TV_Emulator.sh`
![screenshot from 2017-12-05 01-10-20](https://user-images.githubusercontent.com/19213244/33588311-5b42de12-d959-11e7-8be6-624440d4d0ac.png)

I didn't understand your question.

[2017-12-05 03:13] raphamorim commented on #74
Every executable on linux has to be "trackable" @thiagommedeiros.
If you're able to click and open virtualbox and remotecontrol together, we can be able to do the same on CLI.

We only need to get the path for that script :octocat: 🤔

[2017-12-05 03:13] raphamorim commented on #74
can you run this SH? `sh LG_webOS_TV_Emulator.sh`

[2017-12-05 03:14] raphamorim commented on #74
Sorry for bothering you te-hehe.
I feel we're close. :P

[2017-12-05 03:17] thiagommedeiros commented on #74
hmm.. I got it!

hahaha relax! é nois!!

yeah! `sh LG_webOS_TV_Emulator.sh` it runs the VirtualBox

[2017-12-05 03:18] raphamorim commented on #74
lol

[2017-12-05 03:19] raphamorim commented on #74
then just need to change by:

[code]

and should work.

[2017-12-05 03:20] thiagommedeiros commented on #74
I'll test it.

[2017-12-05 03:24] thiagommedeiros commented on #74
yeeeahh it worked!! :tada: :tada: :tada:

[2017-12-05 03:24] raphamorim commented on #74
🥂

[2017-12-05 03:25] raphamorim commented on #74
can you send a PR with the changes?
you can debug it using `node <path-to-absolute-cli>`

[2017-12-05 03:29] thiagommedeiros commented on #74
yeap :)

I'll send this PR tomorrow! Thank you bro!

[2017-12-05 03:30] raphamorim commented on #74
thanks @thiagommedeiros :)

[2017-12-05 14:51] #74 closed

[2017-12-06 00:36] raphamorim opened #79 "CLI --version support"
Develop a `--version` command for CLI.

[2017-12-06 00:36] raphamorim commented on #67
closed by #77

[2017-12-06 00:36] #67 closed

[2017-12-06 00:37] raphamorim commented on #19
react-video-talks

[2017-12-06 00:37] #19 closed

[2017-12-06 01:58] raphamorim opened #80 "renderer support style"
Currently elements doesn't support style as property.

[2017-12-06 01:59] raphamorim opened #81 "className support"
I it's fine to keep `className` contract.

[2017-12-06 02:00] raphamorim opened #82 "stop run Uglify on "start-dev""
Doesn't make sense it and the experience is the worst. :octocat:

[2017-12-06 04:38] raphamorim commented on #81
closed by 76f56a334a35b8ae73c768902a3aa8f763b16781

[2017-12-06 04:38] #81 closed

[2017-12-06 04:54] #82 closed

[2017-12-06 04:54] #79 closed

[2017-12-06 04:55] raphamorim commented on #69
Solved on `0.3.0-beta.2`

[2017-12-06 04:55] #69 closed

[2017-12-06 04:55] #63 closed

[2017-12-06 04:55] #59 closed

[2017-12-06 04:55] #12 closed

[2017-12-06 04:56] #34 closed

[2017-12-06 04:56] raphamorim opened #83 "Support React DevTools"
Ref: #36

[2017-12-07 12:24] drudolf opened #85 "Considering declarative focus"
Have you considered doing declarative focus handling like Netflix devs explained here

https://medium.com/netflix-techblog/pass-the-remote-user-input-on-tv-devices-923f6920c9a8

I like the approach that you define a focusKey for every focusable element and use a focusPath to define what should be focused. Rendering and focusing are decoupled and you can request focus after mounting and apply the f

[2017-12-07 13:02] drudolf commented on #85
What about separating focus/navigation from the renderer and only handling adding and removing focusable children in a tree data structure passed to the renderer?

[2017-12-07 13:35] raphamorim commented on #85
I like this idea. I personally do not like the navigation being at the renderer level.

I'm drafting some interfaces for it. Any idea?

[2017-12-07 14:08] drudolf commented on #85
To simplify stuff I use context in React to pass down the parent focusKey to its children right now and compute a new value representing the absolute path like /app/menu/0, having a nested structur of focusable components from app to menu ot menu item 0.

Focus path is also passed via context down to every focusable child and on update when focus path changes entered/focused states are computed an

[2017-12-08 13:54] #80 closed

[2017-12-10 16:42] #4 closed

[2017-12-10 16:43] raphamorim commented on #50
Ref: #87

[2017-12-11 15:17] #35 closed

[2017-12-12 01:42] raphamorim opened #88 "Create Eslint task based on facebook/react"
Ref: https://github.com/facebook/react/blob/master/.eslintrc.js

[2017-12-12 02:15] #43 closed

[2017-12-12 02:27] raphamorim opened #89 "support: react-tv novacom-webos"
currently devs only can setup TVs without novacom check on WebOS.
Also: Fix examples cross-env and clock-app

[2017-12-13 01:15] celiolatorraca opened #94 "Enzyme support to react-tv"
Since `react-tv` is a renderer just like `react-dom`, I believe it's necessary to create a new Adapter specific to it ...

Probably something based on `enzyme-adapter-react-16`.

Some refs:
- https://github.com/airbnb/enzyme/tree/master/packages/enzyme-adapter-react-16
- https://github.com/airbnb/enzyme/blob/master/packages/enzyme-adapter-react-16/src/ReactSixteenAdapter.js

[2017-12-13 01:16] #88 closed

[2017-12-13 02:18] marcelometal opened #97 "react-tv-cli not found"
Please, publish the `react-tv-cli` package in the npm registry

https://www.npmjs.com/package/react-tv-cli

[2017-12-13 02:23] #75 closed

[2017-12-13 16:54] #89 closed

[2017-12-13 16:55] raphamorim commented on #97
Published npmjs.com/package/react-tv-cli
Thanks

[2017-12-13 16:55] #97 closed

[2017-12-13 19:45] jhonnymoreira commented on #83
Do you that supporting React DevTools would be difficult? I can help with this.

[2017-12-14 16:18] ThiagoMiranda opened #99 "Rendering async data"
*  What do you expect to happen?
Focusable border been shown to navigate with LG controls

  *  What actually happens?
Focusable border won't show and I can't navigate

  *  Which browsers are affected?
I've tested on Chrome and on 3.0 WebOS emulator

I don't know if this is the place for this ( I know that this is an early framework and it's fantastic how much does this works already ) but are yo

[2017-12-15 16:26] raphamorim commented on #99
Hm, thanks for the report @ThiagoMiranda.
I'm working on it.

[2017-12-21 19:16] juliandavidmr opened #101 "Error running installer on Node v9"
_react-tv-cli_ does not install. An error associated with the node version occurs:
[code]

**The problem is that it is running on Node v9**

- [x] Linux Opensuse Leap
- [x] Node v9.3.0
- [x] Command tested: `sudo yarn global add react-tv-cli`

[2017-12-21 22:11] raphamorim commented on #101
Yeah, `react-tv-cli` requires a nodejs `<=8.9`.
Because some dependency on renderer (for rollup) doesn't work with nodejsv9.
However now renderer and CLI are separated packages. Make sense to change it. :octocat:

[2017-12-27 17:57] raphamorim opened #102 "update react-tv-cli help with new commands"
Add `setup-webos` and `get-key-webos` on Help Command

[2017-12-28 02:45] raphamorim commented on #101
Hi @juliandavidmr, sorry by delay.
I published `0.3.1` today. This version should make it work. Can you check it? :octocat:

[2017-12-28 02:45] #102 closed

[2017-12-28 02:46] raphamorim commented on #29
First article ever: https://medium.com/@raphamorim/developing-for-tvs-with-react-tv-b5b5204964ef

[2017-12-28 02:46] #29 closed

[2018-01-09 20:50] raphamorim commented on #101
I'm closing this issue, any isssue we can reopen it.

[2018-01-09 20:50] #101 closed

[2018-01-09 20:52] raphamorim opened #105 "Use weinre as developer tools for debug on TV"
cc @celiolatorraca

[2018-01-12 21:20] celiolatorraca opened #106 "Support to findDOMNode"
We should have support for something like `ReactDOM.findDOMNode`.

[2018-01-14 19:42] Blinnikov commented on #8
Hi.
First of all, thank you for the awesome project!

Recently I started investigating development for Tizen based Samsung TVs.
I have a chance to create some basic apps and upload them on the device.
I love React and would like to use (or maybe to take part in) your project for creating apps for Tizen OS.
I've read all available documentation on React TV and the article from medium.
I understand

[2018-01-15 00:24] raphamorim commented on #8
Hi @Blinnikov !

I would love your help :octocat:

Sure! Can you give some comments there?
BTW: Feel fee to send changes on PR or even continue the work from that branch.

I'm thinking about take a memory footprint of React-TV X React-DOM.

[2018-01-15 17:20] raphamorim opened #107 "react-tv-cli run-webos requires a target"
Current Behavior: `react-tv-cli run-webos`, launch the emulator.
Expected Behavior: `react-tv-cli run-webos`, list available devices (including emulator)

[2018-01-16 13:40] Blinnikov commented on #8
Maybe this repo -  [React Performance Devtool](https://github.com/nitin42/react-perf-devtool) - is worth investigating

[2018-01-16 16:30] raphamorim opened #109 "configure CI for organization"
Currently all configuration is based on my personal user, need to change it.

[2018-01-16 17:48] ricobl opened #110 "Allow source and destination on `files` config"
It would be nice to map source files to their destinations on the packaged app when using `react-tv-cli`.

Currently the `files` config key is an array of source files, one possible solution could be using an object with destinations as keys and values as source files.

So this:

[code]

Could be written like this:

[code]

Which would result in a flat file structure on the generated app.

[2018-01-16 18:12] ricobl opened #111 "Abstract package metadata for multiple platforms"
Metadata files like webOS' `appinfo.json` should be generated from config on the `package.json` file.

Additionally, the config should allow extending specific platform metadata.

Here is a proposal of the data structure to accomplish this:

[code]

* `generic` is should be common to multiple platforms
* `webos` and others should contain platform specific info

[2018-01-17 20:09] raphamorim commented on #106
Closes #112

[2018-01-17 20:09] #106 closed

[2018-01-21 22:37] #110 closed

[2018-01-21 22:38] raphamorim commented on #109
Done :)

[2018-01-21 22:38] #109 closed

[2018-01-21 22:51] raphamorim commented on #99
Hi @ThiagoMiranda, I published a newer version of React-TV which be able to solve this problem (0.3.4).
But you have to use [react-tv-navigation](https://github.com/react-tv/react-tv-navigation) for it work.

[2018-01-21 22:58] raphamorim commented on #85
Navigation separated from renderer and become a single package.
What do you think about it @drudolf https://github.com/react-tv/react-tv#navigation?

I'll close this issue, any other enhancement or update, will make more sense open on https://github.com/react-tv/react-tv-navigation.

[2018-01-21 22:58] #85 closed

[2018-02-15 12:07] wojciech-bilicki opened #116 "Running the project on webOS simulator shows no posters"
Following along the [article](https://medium.com/@raphamorim/developing-for-tvs-with-react-tv-b5b5204964ef) on medium I've set up the starting project.

Problem: Starting posters are not visible on simulator, although they're visible on the browser
<img width="1288" alt="screen shot 2018-02-15 at 13 05 48" src="https://user-images.githubusercontent.com/10365887/36255913-18819c9a-1251-11e8-8359-aaa

[2018-02-15 16:36] #116 closed

[2018-02-21 21:24] #99 closed

[2018-03-08 19:00] alejandronanez commented on #45
Hey @raphamorim !!!

What's the state of this? I'd love to start contributing to this project. If this is not a `good first issue` can you point me to a good one?

Thanks!

[2018-03-08 19:35] raphamorim commented on #45
Hi @alejandronanez,

Happy to know. So, the idea here is measuring different builder tools. But now I'm not sure if it's a `good first issue`. So, I guess a good one is helping to fix flow task (Actually it never worked well).

https://github.com/raphamorim/react-tv/issues/30

What do you think?

[2018-03-08 19:36] raphamorim commented on #45
Other one is extend CLI (I guess this one is more friendly): https://github.com/raphamorim/react-tv/issues/107

[2018-03-08 19:36] alejandronanez commented on #30
I’ll take this one!

[2018-03-08 21:17] alejandronanez commented on #45
Hmmmm I think I'll take #107 then, let's see how it goes. 👍

[2018-03-08 21:18] alejandronanez commented on #107
I'll take this as we talked in #45

[2018-03-08 23:52] raphamorim opened #118 "Add more examples"
Currently, we only have 2 examples apps (clock-app and navigation), I guess we can add more!
I would love to see more examples using Redux, Apollo [...]

I'm open to ideas!

[2018-03-13 10:08] alejandronanez commented on #107
Hello @raphamorim!
All this TV apps development is new to me so maybe I'm asking something that's beyond the scope of this project.
1. I'm running the webOS installer for `OSX 10.3.3` but I'm prompted for a location different than `/opt/webOS_TV_SDK` to continue with the installation. Will this affect my local development environment?
2. I don't have a TV that can run `webOS` is this a problem?
3.

[2018-04-12 13:13] joshuairl commented on #66
Here are my composed thoughts as of today on where I think I'm looking to be and what I think this space needs in a library or cross-platform environment...

First off...
Not liking any mentions of using Toast.  Forcing our tool to use another external build tool seems kind of odd, when React ecosystem has plenty to offer in this area.  Unfortunately their scope is small and Cordova is overkill fo

[2018-04-24 13:51] joshuairl opened #119 "Anybody have anything deployed yet?"
I've pushed apps for Newsy without react-tv.  But I'd love to see an example of a react-tv app running in the wild.

[2018-04-24 17:44] joshuairl opened #120 "Does this work with react-hot-reload?"
Would be nice for URL-based implementations for quick testing / debugging of the code in dev.
Doing one for HiSense now and trying to get hot-reloading to work.

I've got it working, but its not actually reloading the DOM in browser.

Any tips?

[2018-04-24 19:17] raphamorim commented on #120
Nope, still doesn't have it 😞
But yes, It's a "good to have" feature.

[2018-04-24 19:18] raphamorim commented on #120
Nope, still doesn't have it 😞
But yes, It's a "good to have" feature.

[2018-04-25 11:31] joshuairl commented on #120
I’m interested in contributing this feature.
Before I begin; is it something deeper preventing the capability? Do you see ReactTV.render as a factor of it not working for some reason?

Is the index.html / style.css file required for ReactTV.render to work?

I’m getting an issue where if I exclude the style line from webpacl config I’m getting an error like it’s trying to include it. Even when I le

[2018-04-30 12:14] joshuairl opened #121 "(index):1 Uncaught SyntaxError: Unexpected token ( 08:10:52.316 (index):1 Uncaught SyntaxError: Unexpected token ( 08:10:52.353 (index):1 Uncaught SyntaxError: Unexpected token ("
So I'm getting these hard to track down errors when working with `video`.
Wondering if there is a way you guys have found to find the issue or track it down?
Can't find a place to put a breakpoint really so not sure how to approach it.

`Uncaught SyntaxError: Unexpected token ( (index):1`

![image](https://user-images.githubusercontent.com/171077/39426572-60228992-4c4e-11e8-9c79-5443f554ef00.png)

[2018-04-30 13:34] raphamorim commented on #121
Hi @joshuairl, Can you share with me the code for it and the webpack config?
I'll try to reproduce it locally.

[2018-04-30 13:39] raphamorim commented on #119
@celiolatorraca @ricobl @joshrezende any news/toughs?

[2018-04-30 13:41] joshuairl commented on #121
Gah… I found the problem!
Was a plugin that was using like umm somehow `<video oncanplay=function ( ) { } />`.

Hmm It didn’t like that syntax in development it failed, but in production it worked.  Guessing its doing something specific for development.

On Apr 30, 2018, 9:34 AM -0400, Raphael Amorim <notifications@github.com>, wrote:

[2018-04-30 13:43] ricobl commented on #119
Nothing yet!

[2018-04-30 13:45] raphamorim commented on #121
Maybe worked only because Webpack with PROD environment tries to uglify and sometimes change the reference of functions/variables and fixed that automatically. I don't know exactly why. It's just a guess.

So I will close this issue 👍
thx

[2018-04-30 13:45] #121 closed

[2018-04-30 13:48] joshuairl commented on #121
[code]

[2018-04-30 16:33] joshrezende commented on #119
i'm doing the tests, but as soon the company approves i'll upload to production

[2018-05-15 12:12] joshuairl opened #122 "How to do event binding on component?"
When I do like `onPlay={() => {}}` or something along those lines, its causing react-tv renderer to throw errors in browser like `Unexpected token (`.

On `react-dom` it works fine.
What is a way I can do this without it throwing this error?  I REALLY want to use this renderer but this is keeping me from rendering videos for some reason.

UPDATE:
It seems to be doing it with my more dynamic compon

[2018-05-19 14:41] raphamorim commented on #122
Sorry about the delay, @joshuairl.
Well, maybe now it's better to try to use with React-DOM. I'm working on React-TV 0.4 version with full improve on memory usage (https://github.com/raphamorim/react-tv/pull/123) and creating a development version to catch these type of errors.

[2018-05-19 21:40] joshuairl commented on #122
Okay I’ll use react dom for now.
But react tv was so much snappier

--
Joshua F. Rountree | UX Developer
The E.W. Scripps Company
312 Walnut Street, Suite 2800, Floor 29th, Office 29W109
Cincinnati, Ohio 45202-4024
(513) 977-3840 (office, M-F, 7a-4p)
(513) 827-7936 (mobile)

On May 19, 2018, 10:41 AM -0400, Raphael Amorim <notifications@github.com>, wrote:

[2018-05-22 15:24] joshuairl commented on #122
@raphamorim Tried pulling down your branch release/0.4.0 and decided to try using `npm / yarn link` to see if I could play around with what you have so far.

When doing so its not able to resolve:
`Module not found: Error: Can't resolve 'react-tv'`

Anything in particular I should be considering differently with this build?  Or is it too soon to try this?

[2018-05-31 03:51] Maneeshashokan opened #124 "Plugin/Preset files are not allowed to export objects, only functions. In ${filepath}"
/home/maneesh/source/IPS-React/node_modules/@babel/core/lib/config/config-descriptors.js:138
    throw new Error(`Plugin/Preset files are not allowed to export objects, only functions. In ${filepath}`);
    ^

Error: Plugin/Preset files are not allowed to export objects, only functions. In /home/maneesh/source/IPS-React/node_modules/babel-preset-react/lib/index.js
    at createDescriptor (/home/ma

[2018-06-03 20:18] raphamorim commented on #50
Ref: https://github.com/raphamorim/react-tv/pull/123

[2018-06-03 20:19] raphamorim commented on #83
Closed by https://github.com/raphamorim/react-tv/pull/123

[2018-06-03 20:20] #122 closed

[2018-06-03 20:20] #83 closed

[2018-06-03 20:27] raphamorim commented on #124
Yo @Maneeshashokan!
Why you're trying to combine react-native and react-tv code?

Seems to be an issue with babel configuration.

[2018-06-03 22:21] joshuairl commented on #122
Assuming this is fixed now then?

[2018-06-04 07:17] Maneeshashokan commented on #124
@raphamorim these three projects are same, so I can share my reducers and actions for all these. That's why I decided to combine these three. Is it possible to do this?

[2018-06-04 14:25] DarryllRobinson opened #125 "Emulator.app file not found"
The current version seems to be hard-coded to look for an older Emulator:

Up Emulator...
The file /opt/webOS_TV_SDK/CLI/bin/../../Emulator/v3.0.0/LG_webOS_TV_Emulator_RCU.app does not exist.

I've tried looking for the config so I can point it to the newer version (Emulator v4.0.0) but couldn't find anything. What can I do to resolve the issue? I can't deploy any files until I get it sorted.

[2018-06-04 16:30] raphamorim commented on #125
Hi @DarryllRobinson, did you installed the SDK?
look if it can help in something -> https://medium.com/@raphamorim/developing-for-tvs-with-react-tv-b5b5204964ef

[2018-06-05 07:16] DarryllRobinson commented on #125
Hi

Yes, I have installed the SDK. I can get the Emulator up by clicking on the app file but not through the yarn command. It looks for the Emulator file in the wrong location: v3.0.0 instead of the newer v4.0.0.

[2018-06-06 09:26] Maneeshashokan opened #126 "React-tv router"
Hi,

Anyone use router for react-tv ? which routing module is there in react-tv

[2018-06-06 12:56] raphamorim commented on #126
You can use react-router or other routers to use with React-TV. Should work.

[2018-06-06 12:56] raphamorim commented on #126
If you have some issue with that we can open another issue later

[2018-06-06 12:56] #126 closed, assigned to nobody

[2018-06-06 12:58] raphamorim commented on #125
Hmm, yeah. You're right @DarryllRobinson.
I'll make a fix for it today.

[2018-06-06 13:11] DarryllRobinson commented on #125
Thanks a lot - much appreciated!

[2018-06-12 19:22] raphamorim commented on #125
Hi @DarryllRobinson sorry for the delay 😢

So, I've released `0.4.1`, now you can set version on env using `WEBOS_CLI_TV_VERSION` variable. I know it's not the best solution, but all this code will go to trash when all commands migrate to node-webos (https://github.com/react-tv/node-webos)

[2018-06-13 08:11] DarryllRobinson commented on #125
Thank you very much, @raphamorim.

Should I migrate to node-webos now then? Or is it still in progress?

[2018-06-13 08:53] DarryllRobinson commented on #125
I rewrote the script to react-tv-cli and it works now. I also had to change the run.js file as it didn't pick up the ENV properly but I got it working.

Thank you again.

[2018-06-13 17:17] raphamorim commented on #125
No @DarryllRobinson, I'm sorry about that.
Do you mind to send a PR with your changes, so we can fix other people too.

[2018-06-14 06:31] DarryllRobinson commented on #125
Hi @raphamorim. I'm very happy to help where I can but I'm new to this game so I don't know what you mean by a PR, sorry. Instead, I can show you the code I used if that will help.

I changed the /node_modules/react-tv-cli/scripts/webos/run.js to explicitly set the version like so:

`//const version = (webOSTVVersion) ? `v${webOSTVVersion}` : 'v3.0.0';
  const version = 'v4.0.0';
`

The package.js

[2018-07-27 15:30] davidgarsan opened #129 "Default focused element"
Is there a way to set a default focused element as original [Spatial Navigation](https://github.com/luke-chang/js-spatial-navigation#configuration) does with config sections?

[2018-08-01 16:24] matheusmonte commented on #107
I try to solve this issue on PR #131. Hope going well :)

[2018-08-05 07:23] parisaabasian opened #132 "react-tv: command not found or react-tv-cli: command not found"
I have installed react-tv-cli and also setup webos
and now when I want to init myapp I get this error:
react-tv-cli init <my-app-name>   ==>  react-tv-cli: command not found
react-tv init <my-app-name>   ==>  react-tv: command not found

none of them works,What am I doing wrong?!

[2018-08-05 12:05] iepsen commented on #132
@parisaabasian,

Do you have installed it as a global package?
`yarn global add react-tv-cli` if you are using yarn or `npm install -g react-tv-cli` if npm.

[2018-08-07 01:36] raphamorim commented on #129
doesn't exists a directly api for it yet. but you can do something like:
[code]

[2018-08-07 12:10] parisaabasian commented on #132
@iepsen yes I did but it didn`t fix my problem :(

[2018-08-07 15:00] matheusmonte commented on #132
@parisaabasian What is your webOS setup path ?

[2018-08-08 04:51] parisaabasian commented on #132
@matheusmonte once in my home/opt/  and when I got the error I uninstalled it and again installed in the project root folder/opt/
you mean it`s because of webOS?

[2018-08-08 13:45] matheusmonte commented on #132
@parisaabasian sorry, I miss something in your issue. I already have a issue with command not found, but is caused by webOS error path. In your case, I think is a installation error. Do you try to remove all packages and install globally again? Whats is your platform ?

[2018-08-11 05:57] parisaabasian commented on #132
@matheusml I tried that,and still same problem
It is linux (ubuntu)

[2018-08-16 16:35] davidgarsan commented on #129
Thank you!
But maybe that can be lead to some warnings for updating state in render time (collateral effects).
Anyway, finally I came to this in the Focusable HOC:

`
componentDidMount() {
    this.addFocusable(findFocusable(this));
    if(this.props.focusPath === this.props.defaultFocus) {
        this.props.setFocus();
    }
}
`
This way I can keep a focusable default element even in complex lay

[2018-08-16 16:35] #129 closed

[2018-09-05 15:39] jorgitoml commented on #118
May be an streaming app?
Tx!

[2018-09-06 03:54] Maneeshashokan opened #133 "How we can test our tv app in real device ? is there any way to install app from usb or is there any simpler way to test ? Like android tv is it possible to install .ipk file ?"
How we can test our app in real tv device ? is it possible to install .ipk file ?

[2018-09-10 19:33] matheusmonte commented on #133
@Maneeshashokan  what is your terget device?

[2018-09-10 19:40] raphamorim commented on #133
Hi @Maneeshashokan,
As far as I know, IPK is not compatible with android tv.
react-tv-cli is right now only working for LG WebOS.
Maybe it helps https://medium.com/@raphamorim/developing-for-tvs-with-react-tv-b5b5204964ef

[2018-09-10 19:40] #133 closed

[2018-09-19 10:14] wyeo commented on #119
@joshrezende Any news ?

[2018-10-02 00:01] robolivable opened #134 "Uncaught Error: Argument appears to not be a ReactComponent"
### What do you expect to happen?
Run example app without errors.

### What actually happens?
Errors encountered during react lifecycle.

### Which browsers are affected?
Currently running on latest version of Chrome Canary (71.0.3567.0), but I've noticed similar behavior when executing the app inside the webOS emulator.

### Additional info
It appears that `react-tv@^0.4.2` is causing errors duri

[2018-10-10 12:06] Maneeshashokan commented on #133
I don't want to install it into android tv, I need to install it on LG web os tv. Is it possible to install IPK file in LG  WebOS ?

[2018-10-10 12:33] dead commented on #133
It is possible, http://webostv.developer.lge.com/develop/app-test/

[2018-10-10 14:14] raphamorim commented on #134
weird, I thought that was fixed. Let me take a look.

[2018-10-10 14:14] raphamorim commented on #134
@robolivable what's the react version that you're using?

[2018-10-10 16:35] robolivable commented on #134
Should be [`^16.2.0`](https://github.com/robolivable/TTV4TV/blob/custom/issue-134-reproducible/package.json#L22-L26). I believe you should be able to get a reproducible example up and running by following the steps in the README of this branch: https://github.com/robolivable/TTV4TV/tree/custom/issue-134-reproducible

[2018-10-12 00:51] robolivable commented on #122
I ran into the same issue, @jfrux.

This issue is apparently due to `react-tv` not properly handling event emitters. The cryptic `Unexpected token (` error you're seeing is caused by passing in an anonymous function to the `Event.setAttribute` method when setting an element's event listener property. You can get the error to go away by passing in a named function as a value for the event. [Here's

[2018-10-12 06:45] marcus-sa commented on #122
Only fix is instead of using an anonymous function, you should put in a named function:

`onPlay(myFn)`

[2018-10-21 23:30] raphamorim opened #135 "findDOMNode isn't working"
React-TV-Navigation doesn't work because `findDOMNode` isn't working.
Related issue https://github.com/raphamorim/react-tv/issues/134

[2018-10-30 12:02] KevinMolotov commented on #134
I might be going in the wrong direction but it looks like the problem actually comes from react-tv.
When findDOMNode returns nothing, it's because ReactTVFiberRenderer.findHostInstance try to get a _reactInternalFiber property from the get function, but the fiberNode instance that we give it as parameter hasn't any _reactInternalFiber property.
The findCurrentHostFiber then returns null and termin

[2018-10-30 14:03] KevinMolotov commented on #134
Ok fixed it, i'll do a PR for you to test it!

Turns out findHostInstance is trying to get the fiberNode from the component given as parameter, except the element that is given to him is already a fiberNode!

[2018-10-31 02:03] #134 closed

[2018-10-31 02:03] #135 closed

[2018-10-31 02:15] raphamorim commented on #134
I released a react-tv@0.4.3, react-tv-navigation@0.4.3 and react-tv-cli@0.4.3 based on some changes and @KevinMolotov fix for that issue. Let me know if doesn't work and thanks for opening the issue.

[2018-11-02 09:26] KevinMolotov opened #137 "React DevTools"
It looks like the react devtools aren't working for me. I'm always getting the message about React being in production mode even though I load the react-tv.development.js. Tried it on the example project built by React-TV and got the same problem.

Any idea how to fix this?

[2018-11-02 10:09] KevinMolotov commented on #137
Ok turns out we were missing one parameter in the injectIntoDevTools function of the renderer. Without 'version', it returns a production buildType instead of development.

I'll do a PR to fix this.

[2018-11-03 00:13] raphamorim commented on #137
it's missing version key here: https://github.com/raphamorim/react-tv/blob/master/packages/react-tv/renderer/ReactTVFiberEntry.js#L274

[2018-11-03 00:14] raphamorim commented on #137
It's failing even setting the version? @KevinMolotov

[2018-11-05 09:15] KevinMolotov commented on #137
Hi @raphamorim! I added the missing version property but it only fixes the prod/dev issue where the devtools thought they were always in a production build. But we still get this message [https://i.imgur.com/GgUwenK.png](url).

I tried to switch the renderer with react-dom on the same project and the devtools works perfectly. Tried to update react-reconciler to check if the problem was coming from

[2018-11-06 16:51] KevinMolotov opened #138 "Context API"
The context API is broken with the React-TV-renderer. It doesn't trigger rerendering when a Consumer is subscribed to its Context.
Tried the same thing with the react-dom renderer and it's working perfectly.

It might be because of the old version of react-reconciler? I tried to update it, but there is some major breaking changes that I can't really handle all by myself I think... Do you have any

[2018-11-06 16:56] OliverTr54 commented on #126
Does anyone have a working example available?

Thanks in advance,
Oliver

[2018-11-06 16:58] OliverTr54 opened #140 "React TV and react router...."
Does anyone have a working example of React TV with a react router to a details page?

Thanks in advance,
Oliver

[2018-11-06 17:37] OliverTr54 opened #141 "React TV and scrolling"
And another question:

Let's say I have 10 sections with each about 50 items on the frontpage and I would use the Grid. How can I scroll down? I deactivated the css overflow, but it only scrolls by mouse not by keys.

Thanks, Oliver

[2018-11-06 17:41] OliverTr54 commented on #141
Sorry for this question...! => onFocus(index) {....}

[2018-11-06 17:41] #141 closed

[2018-11-07 00:54] #137 closed

[2018-11-07 00:56] raphamorim commented on #138
yeah, probably is the old version of react-reconciler. Sure, I can take a look at this weekend. I tried to update react-ape for newest too and it's breaking some changes.

[2018-11-07 09:03] OliverTr54 commented on #140
Got some example @raphamorim? Thanks a lot!!!

[2018-11-12 08:59] OliverTr54 commented on #140
Does anybody have an example for this? Please!!!

Thanks, Oliver

[2018-11-20 21:40] crippin commented on #140
Hi @OliverTr54 !
I just made a little sample for you, I hope it will help.
https://codesandbox.io/s/03vpz3zx0v

[2018-12-14 09:22] sujithklr93 opened #142 "onChange event not in event list"
Please add an onChange event in react-tv event list. most of the web libraries using the onChange event in their plugins.

[2018-12-22 18:41] robolivable commented on #119
I have [a POC in public domain](https://github.com/robolivable/TTV4TV) for a Twitch TV client. Actually currently working on a server app to host it and maybe get it live.

[2019-01-07 07:32] PushU19 opened #143 "WebOS services"
WebOS supports services. As I understood, I can't add services in react-tv application. Maybe it's not a part of react and frontend but you already have an ecosystem and react-tv-cli can build both parts of application.

[2019-01-09 13:07] PushU19 commented on #143
http://webostv.developer.lge.com/develop/js-services/webos-tv-service-basics/

[2019-01-09 14:08] wyeo opened #144 "React.memo failed"
ReactTV.render does not support React.memo utilisation.

I got this error message

[2019-01-09 14:22] matheusmonte commented on #144
@wyeo Can you share some piece of code?

[2019-01-09 14:44] wyeo commented on #144
@matheusmonte https://codesandbox.io/s/wovj152n5

[2019-01-15 05:28] sujithklr93 opened #145 "React-tv app not rendering in actual LG device with focusable hoc. but it's working fine in lg TV emulator"
`const ButtonContainer = (props) => {
    var children   = props.children;
    return (
        <button {...props}>
            {children}
        </button>
    )
}

const DivContainer= (props) => {
    var children   = props.children;
    return (
        <div  {...props}>
            {children}
        </div>
    )
}

export const ButtonFocus = withFocusable(ButtonContainer)
export const DivFocu

[2019-01-15 18:47] matheusmonte commented on #143
hi @PushU19 ,

At this moment, we don't have this in mind, but, if you want to send a PR. We can help you with this.

[2019-02-04 21:44] matiasbenedetto opened #146 "Error importing withFocusable and withNavigation from react-tv-navigation"
Hello, I''m trying to reproduce the navigation example but I'm stuck trying to import withFocusable and withNavigation from 'react-tv-navigation'.

I'm doing:

`import { withFocusable, withNavigation } from 'react-tv-navigation'`

But an error is thrown:
**Unhandled Rejection (ReferenceError): Element is not defined**

  *  Which browsers are affected?
  All

[2019-04-12 16:53] kevintesar commented on #132
Did you get this solved? I'm facing the same.. Maybe even worse though, WebOS doesn't even install. Instead it just stalls then quits out.

[2019-04-22 10:07] iamporus opened #147 "How can I use bootstrap with react-tv?"
When trying to include bootstrap.css in the app.js file, compilation fails with these errors:

[code]

[2019-04-22 21:21] matheusmonte commented on #147
Hi @iamporus , I hope  you are ok.

Can you share the import in your app.js?

looks like ```import 'bootstrap/dist/css/bootstrap.css';``` ?

[2019-04-23 05:00] iamporus commented on #147
Yes. I should have mentioned in the question. But yes. It's the same as you have mentioned.

[2019-04-24 06:14] iamporus commented on #147
It was an issue with my web pack config. When I added css-loader, it compiled successfully.
Here's the added config:
[code]

[2019-04-24 06:14] #147 closed

[2019-05-29 07:31] etibar opened #149 "Hello, I want to generate ipk from the react tv project."

[2019-06-03 17:46] matheusmonte commented on #149
Can you generate a ipk from project's result or source code, Can you explain more?

[2019-06-04 01:07] raphamorim commented on #149
Hey @etibar, when you run `react-tv-cli run-webos` it will generate the IPK for you. https://github.com/raphamorim/react-tv/blob/master/packages/react-tv-cli/scripts/webos/run.js#L133

[2019-06-04 01:08] raphamorim commented on #149
Unfortunately there’s no `build-webos` to just create the IPK file. Feel free to open a PR if you want to, would be a good feature to have. Closing this issue.

[2019-06-04 01:08] #149 closed

[2019-06-04 01:09] raphamorim commented on #24
Closing this issue in favor of React Ape (as secondary React-TV's renderer)

[2019-06-04 01:09] #24 closed

[2019-08-23 11:47] victordidenko opened #150 "react-tv-navigation package actual placement?"
Where is actual react-tv-navigation package located, here, in this repository, or in `react-tv/react-tv-navigation`? Where to make PRs?

[2020-09-23 08:04] MarcoFiusco opened #152 "Navigation jumps to a far element"
Hello,
after application loads and setting the focus on a component, when I press any navigation button, focus jumps to a far element.
But when I do this again later on, it does navigate correctly also from the same element.
Any idea why this is happening?

Thanks!

[2021-03-06 10:09] Aspect26 opened #153 "Set correct emulator version"
In https://github.com/raphamorim/react-tv/blob/master/packages/react-tv-cli/scripts/webos/run.js#L107 there is a hardwired version in the output string, it would be better if it was taken from the environment.

Also in https://github.com/raphamorim/react-tv/blob/e2e97a5ee2f8c0e8fc1b008eea3df39f3870dd80/packages/react-tv-cli/scripts/webos/run.js#L9 the version defaults to v3.0.0 if not specified in

[2021-03-06 10:14] Aspect26 opened #154 "Crash when SDK path contains empty spaces"
This line (and probably some following ones) https://github.com/raphamorim/react-tv/blob/master/packages/react-tv-cli/scripts/webos/run.js#L133 crashes when there is a space in the SDK path.

e.g. my SDK path is `/media/julius/DATA/apps-linux/webOS SDK/webOS_TV_SDK/CLI/bin` and the output from `react-tv-cli run-webos` is
[code]

My environment is Ubuntu 20.04;

[2021-03-06 10:16] Aspect26 commented on #154
Its a little problematic because the default installation folder contains those spaces, so to make it work I have to change it and also all the other environment variables :disappointed:

[2021-03-08 17:35] matheusmonte commented on #154
Hey,

I open an PR to solve this issue, but I have a limited access to ubuntu environment. If you are able to test this changes before merge, it will help a lot.

Thanks

[2021-03-22 21:01] raphamorim commented on #153
Closed and fixed by #156

[2021-03-22 21:01] #153 closed

[2021-03-22 21:01] #154 closed

[2021-03-22 21:04] raphamorim opened #158 "Update react reconciler"
Right now because reconciler is relying in an old version. This is a problem for anyone that wants to use "new" (>14) features of React, such as `.memo`, `.fragment` and etcetera

[2021-03-22 21:04] raphamorim commented on #144
Hmm, I believe the reason of that is that react reconciler is outdated and most of new React features are not supported yet. Created an issue related https://github.com/raphamorim/react-tv/issues/158

[2021-03-22 21:05] raphamorim commented on #140
@crippin that would be nice to have on Readme. If you want to add that :)

[2021-03-22 21:05] #140 closed

[2021-03-23 21:46] #144 closed

[2021-03-25 15:34] kind-eh opened #159 "package with navigation, renders all components"
downloaded the navigation package, connected it to the main app file, when I work with focus, it re-renders all components,
Is this the way it should be?